.b-header {
  width: 100%;
  background-color: var(--brand-header-background);
  height: 48px;
  margin-bottom: 0;

  .title {
    float: left;
    margin-right: 24px;
    a {
      color: var(--brand-header-primary);
    }
    &:visited {
      color: var(--brand-header-primary);
    }
    .rtl & {
      float: right;
      margin-left: 24px;
      margin-right: 0;
    }
  }
}
